{% extends "layout.html" %}

{% block body %}

<div class= "h1"> BOOK  YOUR SALON  APPOINMENT</div>
<div class = "register">

<p>

<a href="/register" style="text-decoration:none"> REGISTER AS SALON </a> <br>
</p>
<p>
<a href="/login" style="text-decoration:none"> LOGIN AS SALON </a>
</p>
</div>

<div class="location"> <a href="/booking" >Select your salon </a> <img src="/static/pink-location-icon-pink-location-icon-isolated-white-background-119107136.jpeg" width=100 height="100"> <br>


</div>


{% endblock %}